.card{
    border: none !important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1) !important;
}
.card .card-text{
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.431) !important;
    font-weight: 500 !important;
}