.navbarCom{
    overflow-x: hidden;
}
.navbarCom .hover:hover{
    color: var(--primary-color) !important;
}
.navbar>.container-fluid{
    padding: 0 8.7% !important;
}
.margin{
    margin-right: 16px;
}
@media screen and (max-width: 1200px) {
    .margin{
        margin-right: 1px;
       }
}
@media screen and (max-width: 1150px) {
    .navbar>.container-fluid{
        padding: 0 1% 0 5% !important;
    }
}
@media screen and (max-width: 500px) {
    .navbarCom .btn{
        width: 150px;
    }
}