.footer{
    background-color: #4cced215;
}
.footer .shape{
    width: 38px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.603);
    line-height: 38px;
}
.footer .shape a{
    color: rgba(0, 0, 0, 0.616);
    transition: all .5s;
}
.footer .shape a:hover{
    color: var(--primary-color) ;
}